body {
    background-color: rgb(74, 84, 104);;
}

iframe {
    width: 100px;
    height: 100px;
    top: 0; 
    left: 0; 
    width: 100px; 
    height: 100px; 
    border: 0; 
}

#ret {
    position: absolute;
    margin-left: 25px;
}

:root {
    --text: rgb(228, 228, 228);
  }
  
  h3, p {
    font-family: Consolas,monaco,monospace;
    font-size: 20px;
    color: var(--text);
    text-align: center;
  }
  
  body {
    background-color: rgb(74, 84, 104);
  }
  
  #btn {
    padding: 15px 80px;
    background-color: rgb(34, 42, 56);
    color: var(--text);
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: all 500ms ease-out;
    box-shadow: 5px 5px 0px 0px #000;
  }
  
  #btn:hover, #btn:focus {
    transform: scale(1.15);
    cursor: pointer;
    color: rgb(34, 42, 56);
    background-color: var(--text);
    box-shadow: 5px 5px 0px 0px rgb(34, 42, 56);;
  }
  
  #ctnt::before {
    content: "<h1> ";
    color: rgba(255, 0, 0, 0.473);
  }
  
  #ctnt::after {
    content: " </h1>";
    color: rgba(255, 0, 0, 0.473);
  }
  
  .titre {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  header h3 {
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Consolas,monaco,monospace;
  }


  h1 {
    font-family: Consolas,monaco,monospace;
    font-size: 20px;
    color: #000;
    text-align: center;
  }

  .retour a {
      text-decoration: none;
      color: var(--text);
      transition: all 500ms ease-out;
  }

  .retour a:hover {
      color: #000;
  }
